.downarrow{
    position:absolute;
    bottom:10px;
    justify-self: center;
    flex: auto;
}

.uparrow{
    position:absolute;
    align-items: center;
    top:10px;
    left: 60%;
    margin-left:-150px;
}