
.nav-links{
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.nav-items{
    text-align: center;
}
.navbar-contents{
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.navbar-container{
    width: 100vw;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-sizing: border-box;
}