
.nav-link{
    text-decoration: none;
}
.nav-link:hover{
    transform: scale(1.03);
}

.nav-items{
    text-align: center;
}
.navbar-contents{
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.navbar-container{
    width: 100vw;
    height: 15vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-sizing: border-box;
}
