.slider {
    position: relative;
    height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width:50vw;
    height: 50vh;
    border-radius: 10px;
    margin-left: 20vw;
}

.right {
    position:absolute;
    top: 50%;
    right: 10px;
    font-size: 1rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    animation: 2s ease-in-out 0s infinite alternate bounceRightArrow ;
}

.left {
    position:absolute;
    top: 50%;
    left: 10px;
    font-size: 1rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    animation: 2s ease-in-out 0s infinite alternate bounceLeftArrow ;
}

.slide{
    width: 0%;
    opacity:0;
    transition-duration: 1s ease;
}

.slide.active {
    width: 100% ;
    opacity: 1;
    transition-duration: 1s ease;
    transform: scale(1.08);
}

.description{

}
.picslider {
    position: relative;
    height: 50vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picimage{
    object-fit: contain;
    height: 50vh;
    width: 25vw;
}

  
  @keyframes bounceLeftArrow {
    from {
      left:0%;
    }
    to {
      left:3%
    }
    
  }
  @keyframes bounceRightArrow {
    from {
      right:3%;
    }
    to {
      right:0%
    }
    
  }