

.imgcontainer {
    width: 220px;
    height: 300px;
    float: left;
    padding: 50px;
}

.nameStyle {
    text-align: center;
}

.textContainer {
    width: 300px;
    height: 300px;
    padding: 50px;
}

.resume {
    border: black;
}

.pages{ 
    scroll-snap-type: y mandatory;
    overflow: scroll;
    position: relative;
    width: 100vw;
    height: calc(100vh - 70px);
    scrollbar-width: none;
    
}

.pages div{
    scroll-snap-align: start;
    height: calc(100vh - 70px);
    width: 100vw;
    justify-content: center;
    scroll-behavior: smooth;
}